<main id="main" class="main">
  <div class="content">
    <div class="center-text">
      <div class="icon-circle">
        <svg
          class="icon-lock"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 
                              00-2-2H6a2 2 0 00-2 2v6a2 2 0 
                              002 2zm10-10V7a4 4 0 00-8 0v4h8z"
          ></path>
        </svg>
      </div>

      <div class="step">Step 3 of 3</div>
      <h1 class="title">Choose how to pay</h1>

      <p class="text">
        Your payment is encrypted and you can change how you pay anytime.
      </p>
      <p class="strong">Secure for peace of mind.</p>
      <p class="strong">Cancel easily online.</p>
    </div>

    <div class="encrypted">
      End-to-end encrypted
      <svg
        class="lock-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M4 4a4 4 0 0 1 8 0v1h1a1 1 0 0 1 1 1v6.72c0 .46-.31.85-.77.93-.91.14-2.66.35-5.23.35s-4.32-.2-5.23-.35a.9.9 0 0 1-.77-.93V6a1 1 0 0 1 1-1h1zm6.5 0v1h-5V4a2.5 2.5 0 0 1 5 0m-7 2.5v5.74c.93.12 2.43.26 4.5.26s3.57-.14 4.5-.26V6.5zM7.25 8v3h1.5V8z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>

    <button class="option" routerLink="/signup/card-payment">
      <div class="left">
        <span class="label">Credit or Debit Card</span>
        <div class="cards">
          <div class="visa">
            <img
              src="https://assets.nflxext.com/siteui/acquisition/payment/ffe/paymentpicker/VISA@2x.png"
              alt=""
            />
          </div>
          <div class="mc">
            <img
              src="https://assets.nflxext.com/siteui/acquisition/payment/ffe/paymentpicker/MASTERCARD@2x.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <svg class="arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>

    <button class="option" routerLink="/signup/cash-payment">
      <div class="left">
        <span class="label">Pay Cash</span>
        <div class="cash-icon">
          <img
            src="https://assets.nflxext.com/siteui/acquisition/payment/ffe/paymentpicker/FAWRY@2x.png"
            alt=""
          />
        </div>
      </div>
      <svg class="arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </div>
</main>
