  /* Main */
  .main {
      display: flex;
      justify-content: center;
      padding: 48px 16px;
  }

  .content {
      width: 100%;
      max-width: 400px;
  }

  /* Icon Circle */
  .icon-circle {
      width: 64px;
      height: 64px;
      border: 2px solid #e50914;
      border-radius: 50%;
      margin: 0 0 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icon-lock {
      width: 32px;
      height: 32px;
      color: #e50914;
  }

  /* Text */
  .step {
      color: #666;
      font-size: 14px;
      margin-bottom: 8px;
  }

  .title {
      font-size: 28px;
      font-weight: bold;
      color: #111;
      margin-bottom: 16px;
  }

  .text {
      color: #555;
      margin-bottom: 10px;
  }

  .strong {
      font-weight: bold;
      color: #111;
  }

  /* Encrypted */
  .encrypted {
      margin-top: 20px;
      text-align: right;
      color: #666;
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

  .lock-icon {
      width: 16px;
      height: 16px;
      color: #e7903e;
      margin-left: 4px;
  }

  /* Options Buttons */
  .option {
      width: 100%;
      background: white;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 12px 16px;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
  }

  .option:hover {
      background: #f7f7f7;
  }

  /* Left side of payment button */
  .left {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  /* Card icons */
  .cards {
      display: flex;
      gap: 4px;
  }

  .visa {
      width: 32px;
      height: 20px;
      border-radius: 3px;
      display: flex;
        justify-content: center;
        align-items: center;
  }
  .visa img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .mc {
      width: 32px;
      height: 20px;
      border-radius: 3px;
        display: flex;
            justify-content: center;
            align-items: center;
  }
  .mc img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  /* Cash icon */
  .cash-icon {
      width: 32px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
  }
    .cash-icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

  /* Arrow */
  .arrow {
      width: 20px;
      height: 20px;
      color: #888;
  }