.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  color: #aaa;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

/* Code Inputs */
.code-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.code-input {
  width: 65px;
  height: 65px;
  font-size: 2rem;
  text-align: center;
  background: rgb(31, 41, 55 , 0.4);
  border: 1px solid #4b5563;
  border-radius: 8px;
  color: #fff;
}

.code-input:focus {
  outline: none;
  border-color: #ffffff;
  /* box-shadow: 0 0 0 3px rgba(255,255,255,0.25); */
}
.btn{
    transition:background-color 0.5s ease-in-out;
}
#signin-btn{
    background-color: rgba(229, 9, 20);
  
}
/* Small text */
.small-text {
  color: #bbb;
}

#pass-btn{
    background-color:  rgb(51, 51, 51 , 0.4);
    margin-block: 8px;
    
}
#pass-btn:hover{
    background-color:  rgb(51, 51, 51 , 0.6);
}

#resend-btn:hover{
    background-color:  rgb(51, 51, 51 , 0.4);
}

/* Skip link */
.skip-link {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: none;
}

.skip-link:focus {
  display: inline-block;
}