.main-container {
    display: flex;
    justify-content: center;
    padding: 4rem 1.5rem;
}

.content-box {
    max-width: 400px;
    width: 100%;
}

/* ILLUSTRATION */
.illustration {
    margin-bottom: 1rem;
}

.card {
    width: 5rem;
    position: relative;
    overflow: hidden;
    border: none;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.step-text {
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #111827;
    margin-bottom: 1rem;
}

.description {
    color: #374151;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.highlight {
    font-weight: 500;
}

/* BUTTONS */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.btn-primary {
    background: #e50914;
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #c40812;
}

.btn-secondary {
    background: #d1d5db;
    color: #111827;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.btn-secondary:hover {
    background: #9ca3af;
}
