 main {
   min-height: 100vh;
   background-image:
     linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
     url('https://assets.nflxext.com/ffe/siteui/vlv3/58622d3e-49bc-482d-8b16-bddc4b672e8e/web/EG-en-20251110-TRIFECTA-perspective_bebb4763-a2a8-46b3-962d-9c95104ee68c_large.jpg');

   background-size: cover;
   background-position: center;
 }

 .login-box {
   background: rgba(0, 0, 0, 0.5);
   padding:30px 48px;
   border-radius: 8px;
   max-width: 480px;
 }

 .login-box h1 {
   font-size: 2rem;
   font-weight: 700;
   text-align: start;
   user-select: text;
   overflow-wrap: normal;
 }



 .btn-netflix , .btn-gray{
  color: white;
       font-size: 1rem;
    font-weight: 500;
    min-height: 2.5rem;
    padding: 0.375rem 1rem;
     transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
 }
 .btn-netflix  , .btn-netflix[disabled] {
   background-color: #e50914;
   
 }

 .btn-netflix:hover {
   background-color: #cf0610;
   color: white;
 }

 .btn-gray {
   background-color: rgb(102, 102, 102,0.5);
  
 }

 .btn-gray:hover {
    background-color: rgb(102, 102, 102,0.4);
    color: white;
 }

 /* a {
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 } */

 .header-container {
   max-width: 1200px;
   margin: auto;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .logo {
   height: 36px;
   display: inline-block;
   text-decoration: none;
 }

 .logo-img {
   height: 100%;
   width: auto;
   display: block;
 }
 div#ForgetPass a{
  color: rgb(255, 255, 255);
  
  transition: color 0.4s ease-in-out;
 
 }
 div#ForgetPass a:hover{
  color: rgb(136 123 125) 
 }
 .msg{
      color: rgba(255, 255, 255, 0.7);
    font-family: unset;
    font-size: 0.875rem;
    font-weight: 400;
 }


 /* validation text */

