 /* .btn-netflix , .btn-gray{
  color: white;
       font-size: 1rem;
    font-weight: 500;
    min-height: 2.5rem;
    padding: 0.375rem 1rem;
     transition:  background-color 0.3s ease-in-out;
 }
 .btn-netflix {
   background-color: #e50914;
 }

 .btn-netflix:hover {
   background-color: #cf0610;
 }

 .btn-gray {
   background-color: rgb(102, 102, 102,0.5);
  
 }

 .btn-gray:hover {
    background-color: rgb(102, 102, 102,0.4);
 }

 a {
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 } */