
/* HEADER */
.header-container {
    max-width: 480px;
    margin: 0 auto;
    padding: 24px 16px 0;
}

.back-link {
    display: inline-flex;
    align-items: center;
    color: #2563eb;
    font-size: 14px;
    text-decoration: none;
    border: none;
}



.back-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


/* MAIN */
.main {
    max-width: 480px;
    margin: 0 auto;
    padding: 32px 16px;
}

.step-text {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 8px;
}

.main-title {
    font-size: 28px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 24px;
}

.paragraph {
    color: #374151;
    margin-bottom: 16px;
}

/* INPUT */
.input-group {
    margin-bottom: 24px;
}

.input-field {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

/* PLAN BOX */
.plan-box {
    background: #f3f4f6;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.plan-price {
    font-weight: bold;
    color: #111827;
}

.plan-type {
    font-size: 14px;
    color: #6b7280;
}

.plan-change {
    background: none;
    border: none;
    color: #2563eb;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
      text-decoration: underline;
}



/* TERMS */
.terms {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 24px;
}

.link {
    color: #2563eb;
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline;
}

/* CHECKBOX */
.checkbox-group {
    margin-bottom: 24px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

/* BUTTON */
.start-btn {
    width: 100%;
    background: #dc2626;
    color: #fff;
    font-weight: 600;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.start-btn:hover {
    background: #b91c1c;
}

.start-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.3);
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.footer-text {
    color: #9ca3af;
    font-size: 14px;
}







/* INPUT */
.input-field {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
}

.input-field.error {
    border-color: #dc2626 !important;
}

.error-message {
    color: #dc2626;
    font-size: 14px;
    margin-top: 6px;
}
