.netflix-card {
  width: 220px;
  height: 330px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.netflix-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.netflix-card:hover img {
  transform: scale(1.08);
}

.rank-number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 70px;
  font-weight: 900;
  color: white;
  opacity: 0.9;
  text-shadow: 0 0 10px black;
}
