


/*  */


/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Back button */
.back-btn {
    margin-bottom: 1rem;
    color: #2563eb;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
}
.back-btn:hover {
    color: #1e40af;
}
.icon-sm {
    width: 16px;
    height: 16px;
}

/* Main container */
.container {
    max-width: 420px;
    margin: auto;
    padding: 2rem 1rem 2rem;
}

/* Step text */
.step-box {
    margin-bottom: 24px;
}
.step {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 8px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-bottom: 16px;
}

/* Card logos */
.cards {
    display: flex;
    gap: 10px;
}
.visa, .mastercard {
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visa img, .mastercard img {
    width: 100%;
    object-fit: contain;
}

/* Form */
.form {
    margin-top: 16px;
    margin-bottom: 24px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 1rem;
}
.input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
    transition: color 0.8s ease-in-out;
}
.input:focus {
    outline: 2px solid rgba(37, 99, 235, 0);
    border: 1px solid #666769;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

@media (max-width:300px) {
  .row {
    grid-template-columns: 1fr;
  }
}

/* Plan summary */
.plan-box {
    background: #f3f4f6;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.plan-price {
    font-weight: bold;
    color: #111827;
}
.plan-type {
    font-size: 14px;
    color: #6b7280;
}
.plan-change {
    background: none;
    border: none;
    color: #2563eb;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    text-decoration: underline;
}


/* Terms text */
.terms {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 24px;
}
.link {
    color: #2563eb;
    text-decoration: underline;
}

/* Checkbox */
.checkbox-row {
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkbox {
    width: 16px;
    height: 16px;
}

/* Submit button */
.submit-btn {
    width: 100%;
    background: #e50914;
    color: white;
    padding: 14px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    margin-top: 1.5rem;
    cursor: pointer;
}
.submit-btn:hover {
    background: #b2070f;
}

/* Error styles */
.input-wrapper.error .input {
    border-color: #e50914 !important;
    background: #ffe5e5 !important;
}
.input-wrapper.error .input:focus {
    outline: 2px solid #e50914 !important;
}

.error-text span {
    color: #e50914;
}

.error-message {
    font-size: 13px;
    color: #e50914;
    margin: 3px 0 5px 3px;
    padding-left: 5px;
}

/* Valid Style */
.input-wrapper.valid .input {
    border-color: #22c55e !important;
    background: #e6f9ee !important;
}
.input-wrapper.valid .input:focus {
    outline: 2px solid #22c55e !important;
}
