main {
    /* /* background: black; */
            color: white; 

    min-height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
        url('https://assets.nflxext.com/ffe/siteui/vlv3/e94073b0-a056-402f-9015-16cb1e7e45c2/web/EG-en-20251110-TRIFECTA-perspective_429dace0-2908-4d56-a6f6-10b8f73d9625_large.jpg');

    background-size: cover;
    background-position: center;
}



/* Main content */
.hero {
    position: relative;
    z-index: 5;
    min-height: 100vh;
}

.email-input {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #444;
    color: white;
}

.email-input:focus {
    border-color: white !important;
    box-shadow: none;
}
.email-input::placeholder{
    color: #444;
}
section.hero button{

    /* min-height: 3.5rem; */
    padding: 13px 15px;
    border-radius: 5px;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);

}

.accordion-button {
            background-color: #444 !important;
            color: white !important;
            border-radius: 0;
            font-size: 1.2rem;
            padding: 1.5rem;
        }

        .accordion-button:not(.collapsed) {
            background-color: #666 !important;
            color: white !important;
        }

        .accordion-item {
            background: #333;
            border: none;
            margin-bottom: 8px;
        }

        .accordion-button::after {
            filter: invert(1); /* يخلي السهم لونه أبيض */
        }

  .cardd {
           background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
            border-radius: 16px;
            padding: 15px 24px;
        
        }

       

        .card-title {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 16px;
            line-height: 1.3;
        }

        .card-description {
            color: rgba(255, 255, 255, 0.7);
            font-size: 1rem;
            line-height: 1.6;
            font-weight: 400;
        }

        .cards-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
            gap: 15px;
        }
.inner {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;  */
}

