main {
    display: flex;
    justify-content: center;
    padding: 30px 16px;
}

.content-box {
    max-width: 1100px;
    width: 100%;
    text-align: left;
}

.header p {
    margin: 0;
}

.header h1 {
    margin: 8px 0 32px 0;
    font-size: 32px;
}

/* ====== GRID (NETFLIX STYLE) ====== */
.plans-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    width: 100%;
    margin-bottom: 2rem;
}

/* Tablet (>=640px) → 2 columns */
@media (min-width: 640px) {
    .plans-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptop (>=1024px) → 3 columns */
@media (min-width: 1024px) {
    .plans-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}



/* ====== CARD ====== */
.plan-card {
    position: relative;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.25s;
    cursor: pointer;
    height: 100%;
    padding: 5px;
}
 .selected{
     transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    border-color: #2563eb;
 }


/* ====== HEADERS ====== */
.plan-header-basic {
    background: linear-gradient(to right, #2563eb, #7c3aed);
    color: #fff;
    padding: 16px;
    border-radius: 10px;
}

.plan-header-standard {
    background: linear-gradient(to right, #1d4ed8, #6d28d9);
    color: #fff;
    padding: 16px;
     border-radius: 10px;
}

.plan-header-premium {
    background: linear-gradient(to right, #1e3a8a, #5b21b6);
    color: #fff;
    padding: 16px;
     border-radius: 10px;
}

/* ====== BADGE ====== */
.badge {
    position: absolute;
    bottom:2px;
    right: -4px;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    border-bottom-left-radius: 8px;
    z-index: 1;
}

.plan-content {
    padding: 16px;
}

.plan-content p {
    margin: 0 0 8px;
}

.label-small {
    font-size: 16px;
    color: #6b7280;
}

.value-large {
    color: #111827;
     font-size: 18px;
     font-weight: 600;
}

.plan-card p {
    margin: 0;
}

.note {
    font-size: 14px;
    color: #6b7280;
}

/* ====== RESPONSIVE TEXT ====== */

@media (max-width: 480px) {
    .header h1 {
        font-size: 24px;
        line-height: 1.3;
    }

    .plan-content {
        padding: 18px;
    }

    .label-small {
        font-size: 13px;
    }

    .value-large {
        font-size: 15px;
    }

    .note {
        font-size: 13px;
    }
}

 .btn-primary {
     width: 100%;
     max-width: 30rem;
     background: #e50914;
     color: #fff;
     border: none;
     padding: 1rem 4rem;
     font-size: 1.25rem;
     font-weight: bold;
     border-radius: 6px;
     cursor: pointer;
     transition: background 0.2s;
     margin: auto;
 }

 .btn-primary:hover {
     background: #c40812;
 }