<main>
  <div class="content-box">
    <div class="header">
      <p style="color: #6b7280; font-size: 14px">Step 2 of 3</p>
      <h1 style="font-size: 32px; font-weight: bold; color: #111827">
        Choose the plan that's right for you
      </h1>
    </div>

    <section class="plans-grid">
      <!-- BASIC -->
      @for (plan of plansData(); track plan.Id) {
      <div
        [class.selected]="plan.Id === selectedPlanId()"
        class="plan-card"
        #planDiv
        attr.planId="{{ plan.Id }}"
        (click)="onPlanClicked(planDiv)"
      >
        <div
          class="position-relative"
          [class.plan-header-basic]="plan.Name.toLowerCase() === 'Basic'.toLowerCase()"
          [class.plan-header-standard]="plan.Name.toLowerCase() === 'Standared'.toLowerCase()"
          [class.plan-header-premium]="plan.Name.toLowerCase() === 'Premium'.toLowerCase()"
        >
          <h2 style="font-size: 20px; margin: 0">{{ plan.Name }}</h2>
          <p style="opacity: 0.9; margin: 4px 0 0">{{ plan.Resolution }}</p>
          @if(plan.Id === selectedPlanId()){
          <div class="badge">
            <svg
              width="22"
              height="18"
              viewBox="0 0 24 22"
              fill="none"
              class="success-icon"
              data-uia="success-svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.0183 21.0833C17.7761 21.0833 22.4438 16.5688 22.4438 11C22.4438 5.43112 17.7761 0.916656 12.0183 0.916656C6.26044 0.916656 1.59277 5.43112 1.59277 11C1.59277 16.5688 6.26044 21.0833 12.0183 21.0833ZM11.7407 14.3982L17.4273 8.89817L16.087 7.60181L11.0705 12.4536L8.89738 10.3518L7.55702 11.6482L10.4004 14.3982L11.0705 15.0463L11.7407 14.3982Z"
                fill="#ffffff"
              ></path>
            </svg>
          </div>
          }
        </div>
        <div class="plan-content">
          <p class="label-small">Monthly price</p>
          <p class="value-large">
            {{ plan.PricePerMonth | currency : 'EGP' : 'symbol' : '1.0-0' }}
          </p>
          <hr />

          <p class="label-small">Video and sound quality</p>
          <p class="value-large">{{ plan.VideoAndSoundQuality }}</p>
          <hr />

          <p class="label-small">Resolution</p>
          <p class="value-large">{{ plan.Resolution }}</p>
          <hr />

          <p class="label-small">Supported devices</p>
          <p class="value-large">{{ plan.SupportedDevices }}</p>
          <hr />

          <p class="label-small">Streams at the same time</p>
          <p class="value-large">{{ plan.MaxSimultaneousDevices }}</p>
          <hr />

          <p class="label-small">Download devices</p>
          <p class="value-large">{{ plan.MaxDownloadDevices }}</p>
        </div>
      </div>
      }
    </section>

    <p class="note">
      HD, Full HD, Ultra HD and HDR availability depends on your device and internet. Some titles
      may not be available in all resolutions. See
      <a href="#">Terms of Use</a> for more details.
    </p>
    <p class="note">
      Only people who live with you may use your account. Watch on 4 different devices at the same
      time with Premium, 2 with Standard and 1 with Basic.
    </p>
    <p class="note">Live events are included with any Netflix plan and contain ads.</p>
    <div style="display: flex; justify-content: center; margin-top: 2rem">
      <button class="btn-primary" (click)="onSubmit()">Next</button>
    </div>
  </div>
</main>
