<main>
  <div class="content-box">
    <div class="header">
      <p style="color: #6b7280; font-size: 14px">Step 2 of 3</p>
      <h1 style="font-size: 32px; font-weight: bold; color: #111827">
        Choose the plan that's right for you
      </h1>
    </div>

    <form class="plans-grid">
      <!-- BASIC -->
      <label>
        <input type="radio" name="plan" class="plan-input" />

        <div class="plan-card">
          <div class="plan-header-basic">
            <h2 style="font-size: 20px; margin: 0">Basic</h2>
            <p style="opacity: 0.9; margin: 4px 0 0">720p</p>
          </div>
          <div class="plan-content">
            <p class="label-small">Monthly price</p>
            <p class="value-large">EGP 100</p>
            <hr />

            <p class="label-small">Video and sound quality</p>
            <p class="value-large">Good</p>
            <hr />

            <p class="label-small">Resolution</p>
            <p class="value-large">720p (HD)</p>
            <hr />

            <p class="label-small">Supported devices</p>
            <p class="value-large">TV, computer, mobile, tablet</p>
            <hr />

            <p class="label-small">Streams at the same time</p>
            <p class="value-large">1</p>
            <hr />

            <p class="label-small">Download devices</p>
            <p class="value-large">1</p>
          </div>
        </div>
      </label>

      <!-- STANDARD -->
      <label>
        <input type="radio" name="plan" class="plan-input" />

        <div class="plan-card">
          <div class="plan-header-standard">
            <h2 style="font-size: 20px; margin: 0">Standard</h2>
            <p style="opacity: 0.9; margin: 4px 0 0">1080p</p>
          </div>

          <div class="plan-content">
            <p class="label-small">Monthly price</p>
            <p class="value-large">EGP 170</p>
            <hr />
            <p class="label-small">Video and sound quality</p>
            <p class="value-large">Great</p>
            <hr />

            <p class="label-small">Resolution</p>
            <p class="value-large">1080p (Full HD)</p>
            <hr />

            <p class="label-small">Supported devices</p>
            <p class="value-large">TV, computer, mobile, tablet</p>
            <hr />

            <p class="label-small">Streams at the same time</p>
            <p class="value-large">2</p>
            <hr />

            <p class="label-small">Download devices</p>
            <p class="value-large">2</p>
          </div>
        </div>
      </label>

      <!-- PREMIUM -->
      <label>
        <input type="radio" name="plan" class="plan-input" />

        <div class="plan-card">
          <div class="badge">Most Popular</div>

          <div class="plan-header-premium">
            <h2 style="font-size: 20px; margin: 0">Premium</h2>
            <p style="opacity: 0.9; margin: 4px 0 0">4K + HDR</p>

            <div class="premium-dot"></div>
          </div>

          <div class="plan-content">
            <p class="label-small">Monthly price</p>
            <p class="value-large">EGP 240</p>
            <hr />

            <p class="label-small">Video and sound quality</p>
            <p class="value-large">Best</p>
            <hr />

            <p class="label-small">Resolution</p>
            <p class="value-large">4K (Ultra HD) + HDR</p>
            <hr />

            <p class="label-small">Spatial audio</p>
            <p class="value-large">Included</p>
            <hr />

            <p class="label-small">Supported devices</p>
            <p class="value-large">TV, computer, mobile, tablet</p>
            <hr />

            <p class="label-small">Streams at the same time</p>
            <p class="value-large">4</p>
            <hr />

            <p class="label-small">Download devices</p>
            <p class="value-large">6</p>
          </div>
        </div>
      </label>
    </form>

    <p class="note">
      HD, Full HD, Ultra HD and HDR availability depends on your device and
      internet. Some titles may not be available in all resolutions. See
      <a href="#">Terms of Use</a> for more details.
    </p>
    <p class="note">
      Only people who live with you may use your account. Watch on 4 different
      devices at the same time with Premium, 2 with Standard and 1 with Basic.
    </p>
    <p class="note">
      Live events are included with any Netflix plan and contain ads.
    </p>
    <div style="display: flex; justify-content: center; margin-top: 2rem">
      <button class="btn-primary" routerLink="/signup/choose-payment">
        Next
      </button>
    </div>
  </div>
</main>
