<main id="main" class="main-container">
  <div class="content-box">
    <div class="intro-text">
      <p class="step">Step 1 of 3</p>
      <h1 class="title">Create a password to start your membership</h1>
      <p class="description">Just a few more steps and you're done!</p>
      <p class="description">We hate paperwork, too.</p>
    </div>

    <form class="signup-form">
      <div>
        <input #email type="email" placeholder="Email" class="input-field" [value]="userEmail()" />
      </div>
      <div>
        <input #password type="password" placeholder="Password" class="input-field" />
      </div>

      <div class="checkbox-container">
        <input type="checkbox" id="no-offers" class="checkbox" />
        <label for="no-offers"
          >Please do not email me Netflix special offers.</label
        >
      </div>
    </form>
    <button class="btn-danger" (click)="onSubmit(email.value , password.value)" >
      Next
    </button>
  </div>
</main>
