.navbar {
  background: linear-gradient(180deg, #0b0b0b 0%, #141414 60%);
}

.nav-link {
  color: #ccc !important;
}

.nav-link:hover {
  color: white !important;
}

.dropdown-toggle::after {
  display: none; /* remove arrow */
}
  /* .logo {
      height: 36px;
      display: inline-block;
      text-decoration: none;
  } */
.logo{
    width: 80px;
    padding-right: 10px;
}
   .logo-img {
      height: 100%;
      width: auto;
      display: block;
  }